:root {
  --background-color: #E9E2D5;
  --accent-color: #C47F1A;
}

body {
  background-color: var(--background-color);
}

.hero-section {
  padding: 6rem;
  margin-top: 3rem;
  text-align: center;
  color: #333;
}

.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.hero button {
  background-color: var(--accent-color);
  color: white;
  border: none;
  padding: 0.75rem 2rem;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}

.hero button:hover {
  background-color: darken(var(--accent-color), 10%);
}